body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fffffe;
    font-family: 'Baloo 2', cursive;
}

.apexcharts-legend {
    margin-top: 20px;
}

@media (min-width: 1300px) {
    body {
        display: flex;
        justify-content: center;
    }
    #root {
        width: 1300px;
    }
}
